html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
        background-color: #16161A;

}
.cabecera {
        background-color: #7F5AF0;
        display: flex;
}






